input[type="text"] {
    font-size: inherit; 
    line-height: inherit; 
    margin: 5px; 
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

.todoListMain {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.form {
  width: 100vw;
}

.text-field {
    margin-bottom: 1rem;
    padding-bottom: 10px;
  }

  .text-field__label {
    font-size: 35px;
    font-weight: 600;
    padding: 0 20px;
    display: block;
    margin-bottom: 0.25rem;
  }

  .text-field__input {
    display: flex;
    width: 50%;
    height: calc(2.25rem + 2px);
    margin: 0 25%;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .text-field__button {
    font-weight: 600;
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: 0px solid rgb(124, 58, 156);
    background: #74b9ff;
    transition: 200ms;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
    border: 1px solid black;
  }

  button span {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	font-size: 25px;
	color: #f0ecfc;
	transition: 500ms;
}

  button::before, button::after {
	content: '';
	position: absolute;
	margin-left: -75px;
	margin-top: -25px;
	width: 140px;
	height: 40px;
	z-index: -1;
}

button::before {
	border: 5px solid #9e60bd;
	transition: 200ms;
}

button::after {
	border: 5px solid rgb(124, 58, 156);
	transition: 500ms;
}

.text-field__button:hover {
	border: 5px solid #000000;
  background-color: greenyellow;
}

button:hover span {
	letter-spacing: 4px;
	font-size: 20px;
  color: #000000;
}

button:hover::before {
	width: 150px;
	height: 50px;
	margin-left: -80px;
	margin-top: -30px;
}

button:hover::after {
	width: 160px;
	height: 60px;
	margin-left: -85px;
	margin-top: -35px;
}

button:focus {
	outline: none;
}