* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  .buttonDelete {
      width: 160px;
      height: 35px;
      cursor: pointer;
      display: flex;
      align-items: center;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
      background: #e62222;
  }
  
  button, button span {
      transition: 400ms;
  }
  
  button .text {
      transform: translateX(35px);
      color: white;
      font-weight: bold;
      font-size: 20px;
  }
  
  button .icon {
      position: relative;
      border-left: 1px solid #c41b1b;
      transform: translateX(110px);
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  button svg {
      width: 15px;
      fill: #eee;
  }
  
  button:hover {
      background: #ff3636;
  }
  
  button:hover .text {
      color: transparent;
  }
  
  button:hover .icon {
      width: 150px;
      border-left: none;
      transform: translateX(0);
  }
  
  button:focus {
      outline: none;
  }


  @media (min-device-width: 320px) and (max-device-width: 480px) {
    .buttonDelete {
        width: 60px;
        height: 25px;
      }
    
    button .text {
        position: absolute;
        right: 50px;
        font-size: 10px;
    }
    
    button .icon {
        border-left: none;
        height: 25px;
        width: 25px;
    }
    
    button svg {
        width: 10px;
    }
    
    button:hover .icon {
        width: 60px;
    }
  }


  @media (min-device-width: 481px) and (max-device-width: 768px) {
    .buttonDelete {
        width: 70px;
      }
    
    button .text {
        right: 65px;
    }
    
    button .icon {
        position: absolute;
        right: 110px;
        border-left: 1px solid #c41b1b;
    }
    
    button:hover .icon {
        width: 60px;
        transform: translateX(110px);
    }
  }

  @media (min-device-width: 769px) and (max-device-width: 1000px) {
    .buttonDelete {
        width: 100px;
      }
    
    button .text {
        font-size: 17px;
        right: 76px;
    }
    
    button .icon {
        position: absolute;
        right: 110px;
    }
    
    button:hover .icon {
        width: 60px;
        transform: translateX(95px);
    }
  }
