.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: bisque;
  padding: 20px;
  height: 100vh;
}

/* .Header {
  padding-bottom: 10px;
  width: 100vw;
  border-bottom: 5px solid aqua;
} */

.List {
  /* display: flex; */
  width: 400px;
  text-align: justify;
  padding-top: 50px;
}

.TodoItems {
  position: relative;
  transition: 1s;
  cursor: default;
  display: flex;
  align-items:center;
  font-size: 25px;
  font-weight: 600;
  line-height: 50px;
  border-radius: 15px;
}

.ToDoText {
  left: 60px;
  padding-left: 60px;

}

.Finish {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.CheckBox {
  position: absolute;
  left: 0;
  padding-left: 10px;
  margin-top: 5px;
}

.TodoItemsPassive {
  background-color: bisque;
}

.TodoItemsActive {
  background-color: rgb(212, 159, 255);
}